{{ block title }}
    Mystery Word Game
{{ endblock }}
{{ block content }}

<style>
    .otree-timer {
        display: none;
    }
</style>
</br>
<p> Dear MIEPP students, let's play a game together! </p>

<p> You were randomly assigned to <b>groups of four.</b> Together in your group you play {{ if group.incentive }} to get the best score in
    {{ else }} {{ endif }} a total of <b>12 turns.</b> </p>  


<p> <b><u>Goal:</u></b> One of the players – <i>the guesser</i> – has to guess a mystery word based on clues given by the other players. </p>
<p> A clue consists only of a <b>single word.</b> If two or more players write the same word, <b>all identical words will be canceled</b> before <i>the guesser</i> gets to see them. </p> 

<p> {{ if group.incentive }} At the end, the group with the highest score (one point for each correctly guessed mystery word) wins a <b>prize.</b> {{ else }} {{ endif }} </p>

<p> Each turn is divided in <b>four phases:</b></p>

<ol>
    <li>  All players except <i>the guesser</i> are told which mystery word they have to provide a clue for.</li>
    <li>  Without communicating with each other and without showing it to anyone, each <i>cluegiver</i> types one clue in.</li>
    <li>  Once all player have written their clues, the identical or invalid clues are canceled. <i>The guesser</i> is shown all remaining clues and has <b>only one guess</b> to identify the mystery word.</li>
    <li>  The group is told whether <i>the guesser </i> guessed the mystery word correctly or not. The next turn begins with another player becoming <i>the guesser.</i></li>
</ol>
</br>
{{ formfields }}
{{ next_button }}

{{ endblock }}

