{{ block title }}
    Hinweispaar
{{ endblock }}
{{ block content }}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 15) {
                $('.otree-timer').show();
            }
        });
    });
</script>
</br>
<p> Das <b>Geheimwort</b> in dieser Runde ist: </p>
<p> <b>{{ mystery_word }}</b> </p>   
<p> Hier sind ihre bisher gegebenen Hinweispaare mit dem Feedback ihrer Gruppenmitglieder:</p>
{{ if player.Idea1 != '' and player.Idea2 != '' }}    
{{ formfield 'Idea1' }}
+
{{ formfield 'Idea2' }}
{{ Feedback1 }}
{{ Feedback2 }}
{{ else }}
{{ endif }}
{{ if player.Idea3 != '' and player.Idea4 != '' }}    
{{ formfield 'Idea3' }}
+
{{ formfield 'Idea4' }}
{{ Feedback3 }}
{{ Feedback4 }}
{{ else }}
{{ endif }}
{{ if player.Idea5 != '' and player.Idea6 != '' }}    
{{ formfield 'Idea5' }}
+
{{ formfield 'Idea6' }}
{{ Feedback5 }}
{{ Feedback6 }}
{{ else }}
{{ endif }}
{{ if player.Idea7 != '' and player.Idea8 != '' }}    
{{ formfield 'Idea7' }}
+
{{ formfield 'Idea8' }}
{{ Feedback7 }}
{{ Feedback8 }}
{{ else }}
{{ endif }}
{{ if player.Idea9 != '' and player.Idea10 != '' }}    
{{ formfield 'Idea9' }}
+
{{ formfield 'Idea10' }}
{{ Feedback9 }}
{{ Feedback10 }}
{{ else }}
{{ endif }}
{{ if player.Idea11 != '' and player.Idea12 != '' }}    
{{ formfield 'Idea11' }}
+
{{ formfield 'Idea12' }}
{{ Feedback11 }}
{{ Feedback12 }}
{{ else }}
{{ endif }}
<button class= "otree-btn btn btn-info">Weiter</button>
</br>
</br>
<details>
    <summary> Zusammenfassung der Regeln </summary>
    <ul>    
        <li> <b><u>Ziel:</u></b> Einer der Spieler – <i>der Ratende</i> – muss ein Geheimwort anhand von von anderen Spielern gegebenen Hinweisen erraten.</li>
        <li> Wenn zwei oder mehr Spieler denselben Hinweis schreiben, werden alle identischen Hinweise (auch Hinweise aus derselben Wortfamilie) entfernt, bevor <i>der Ratende</i> sie sieht</li>
        <li> <b>Ungültige Hinweise:</b> Hinweise, die aus derselben Wortfamilie wie das Geheimwort stammen, nur eine Übersetzung des Geheimworts oder erfunden sind.</li>
</ul>  
</details>

{{ endblock }}
