{{ block title }}
    Hinweispaar
{{ endblock }}
{{ block content }}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 15) {
                $('.otree-timer').show();
            }
        });
    });
</script>
</br>
<p> Das <b>Geheimwort</b> in dieser Runde ist: </p>
<p> <b>{{ mystery_word }}</b> </p>   
<p> Hier sind ihre bisher gegebenen Hinweispaare mit dem Feedback ihrer Gruppenmitglieder:</p>
{{ if player.Idea1 != '' and player.Idea2 != '' }}    
{{ formfield 'Idea1' }}
+
{{ formfield 'Idea2' }}
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_1.0 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_1.0 }}.</b> Wort mit dem Wort <b> {{ R_word_1.0 }} </b> zu ersetzen.</p>
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_1.1 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_1.1 }}.</b> Wort mit dem Wort <b> {{ R_word_1.1 }} </b> zu ersetzen.</p>
{{ else }}
{{ endif }}

{{ if player.Idea3 != '' and player.Idea4 != '' }}    
{{ formfield 'Idea3' }}
+
{{ formfield 'Idea4' }}
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_2.0 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_2.0 }}.</b> Wort mit dem Wort <b> {{ R_word_2.0 }} </b> zu ersetzen.</p>
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_2.1 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_2.1 }}.</b> Wort mit dem Wort <b> {{ R_word_2.1 }} </b> zu ersetzen.</p>
{{ else }}
{{ endif }}
{{ if player.Idea5 != '' and player.Idea6 != '' }}    
{{ formfield 'Idea5' }}
+
{{ formfield 'Idea6' }}
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_3.0 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_3.0 }}.</b> Wort mit dem Wort <b> {{ R_word_3.0 }}  </b> zu ersetzen.</p>7
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_3.1 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_3.1 }}.</b> Wort mit dem Wort <b> {{ R_word_3.1 }}  </b> zu ersetzen.</p>
{{ else }}
{{ endif }}
{{ if player.Idea7 != '' and player.Idea8 != '' }}    
{{ formfield 'Idea7' }}
+
{{ formfield 'Idea8' }}
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_4.0 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_4.0 }}.</b> Wort mit dem Wort <b> {{ R_word_4.0 }}  </b> zu ersetzen.</p>
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_4.1 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_4.1 }}.</b> Wort mit dem Wort <b> {{ R_word_4.1 }}  </b> zu ersetzen.</p>
{{ else }}
{{ endif }}
{{ if player.Idea9 != '' and player.Idea10 != '' }}    
{{ formfield 'Idea9' }}
+
{{ formfield 'Idea10' }}
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_5.0 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_5.0 }}.</b> Wort mit dem Wort <b> {{ R_word_5.0 }}  </b> zu ersetzen.</p>
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_5.1 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_5.1 }}.</b> Wort mit dem Wort <b> {{ R_word_5.1 }}  </b> zu ersetzen.</p>
{{ else }}
{{ endif }}
{{ if player.Idea11 != '' and player.Idea12 != '' }}    
{{ formfield 'Idea11' }}
+
{{ formfield 'Idea12' }}
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_6.0 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_6.0 }}.</b> Wort mit dem Wort <b> {{ R_word_6.0 }}  </b> zu ersetzen.</p>
<p>Dieses Hinweispaar wurde von einem Mitspieler als <b> {{ Rating_6.1 }} </b> bewertet. </p>
<p>Er/Sie schlägt vor, das <b>{{ Replace_6.1 }}.</b> Wort mit dem Wort <b> {{ R_word_6.1 }}  </b> zu ersetzen.</p>
{{ else }}
{{ endif }}
</br>
<button class= "otree-btn btn btn-info">Weiter</button>
</br>
</br>
<details>
    <summary> Zusammenfassung der Regeln </summary>
    <ul>    
        <li> <b><u>Ziel:</u></b> Einer der Spieler – <i>der Ratende</i> – muss ein Geheimwort anhand von von anderen Spielern gegebenen Hinweisen erraten.</li>
        <li> Wenn zwei oder mehr Spieler denselben Hinweis schreiben, werden alle identischen Hinweise (auch Hinweise aus derselben Wortfamilie) entfernt, bevor <i>der Ratende</i> sie sieht</li>
        <li> <b>Ungültige Hinweise:</b> Hinweise, die aus derselben Wortfamilie wie das Geheimwort stammen, nur eine Übersetzung des Geheimworts oder erfunden sind.</li>
</ul>  
</details>

{{ endblock }}
