{{ block title }}
    Abstimmungsergebnis
{{ endblock }}
{{ block content }}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 15) {
                $('.otree-timer').show();
            }
        });
    });
</script>
</br>
<p> {{ if duplicates > 0 }} Eine Mehrheit der Gruppe konnte sich auf ein gemeinsames Hinweispaar einigen. {{ else }} Leider hat sich keine Mehrheit für ein Hinweispaar gefunden. So wurde das Hinweispaar nun per Zufall bestimmt. {{ endif }} </p>
<p> {{ if valid_votes > 0 }} Das bestimmte Hinweispaar ist gültig. {{ else }} Das bestimmte Hinweispaar ist ungültig und wird dem Ratenden nicht angezeigt. {{ endif }} </p>
<p> Das <b>Hinweispaar</b> Ihrer Gruppe ist: </p> 
<p><b> {{ vote_group }} </b></p>
</br>
<button class= "otree-btn btn btn-info">Weiter</button>
</br>
</br>
<details>
    <summary> Zusammenfassung der Regeln </summary>
    <ul>    
        <li> <b><u>Ziel:</u></b> Einer der Spieler – <i>der Ratende</i> – muss ein geheimes Wort basierend auf den Hinweisen der anderen Spieler erraten.</li>
        <li> Wenn zwei oder mehr Spieler denselben Hinweis schreiben, werden alle identischen Hinweise (auch Hinweise aus derselben Wortfamilie) entfernt, bevor <i>der Ratende</i> sie sieht.</li>
        <li> <b>Ungültige Hinweise:</b> Hinweise, die aus derselben Wortfamilie wie das geheime Wort stammen, nur eine Übersetzung des geheimen Worts oder erfunden sind.</li>
    </ul>  
</details>

{{ endblock }}