{{ block title }}
    Clue Pair
{{ endblock }}
{{ block content }}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 15) {
                $('.otree-timer').show();
            }
        });
    });
</script>
</br>
<p>The <b>mystery word</b> for this round is:</p>
<p><b>{{ mystery_word }}</b></p>
<p>Here are your submitted clue pairs along with the <b>feedback</b> from your group members:</p>

{{ if player.pair1 != 'empty' }}  
    <b>1. Clue Pair:</b>  
    {{ formfield 'Idea1' }}
    <b>+</b>
    {{ formfield 'Idea2' }}

    {{ if Rating_1.0 != 'empty' and Rating_1.1 != 'empty'}}
        <p>Rating from your group members: <b>{{ Rating_1.0 }} {{ Rating_1.1 }}</b></p>
    {{ elif Rating_1.0 != 'empty' and Rating_1.1 == 'empty' }}
        <p>Rating from a group member: <b>{{ Rating_1.0 }}</b></p>
    {{ elif Rating_1.1 != 'empty' and Rating_1.0 == 'empty'}}
        <p>Rating from a group member: <b>{{ Rating_1.1 }}</b></p>
    {{ else }}
        <p>You haven't received feedback for this pair.</p>
    {{ endif }}

    {{ if Replace_1.0 != '' and R_word_1.0 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_1.0 }}</b> word: <b>{{ R_word_1.0 }}</b></p>
    {{ else }}
    {{ endif}}

    {{ if Replace_1.1 != '' and R_word_1.1 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_1.1 }}</b> word: <b>{{ R_word_1.1 }}</b></p>
    {{ else }}
    {{ endif}}
{{ else }}
{{ endif }}

{{ if player.pair2 != 'empty' }}    
    <b>2. Clue Pair:</b>
    {{ formfield 'Idea3' }}
    <b>+</b>
    {{ formfield 'Idea4' }}

    {{ if Rating_2.0 != 'empty' and Rating_2.1 != 'empty'}}
        <p>Rating from your group members: <b>{{ Rating_2.0 }} {{ Rating_2.1 }}</b></p>
    {{ elif Rating_2.0 != 'empty' and Rating_2.1 == 'empty' }}
        <p>Rating from a group member: <b>{{ Rating_2.0 }}</b></p>
    {{ elif Rating_2.1 != 'empty' and Rating_2.0 == 'empty'}}
        <p>Rating from a group member: <b>{{ Rating_2.1 }}</b></p>
    {{ else }}
        <p>You haven't received feedback for this pair.</p>
    {{ endif }}

    {{ if Replace_2.0 != '' and R_word_2.0 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_2.0 }}</b> word: <b>{{ R_word_2.0 }}</b></p>
    {{ else }}
    {{ endif}}

    {{ if Replace_2.1 != '' and R_word_2.1 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_2.1 }}</b> word: <b>{{ R_word_2.1 }}</b></p>
    {{ else }}
    {{ endif}}

{{ else }}
{{ endif }}

{{ if player.pair3 != 'empty' }}    
    <b>3. Clue Pair:</b>
    {{ formfield 'Idea5' }}
    <b>+</b>
    {{ formfield 'Idea6' }}

    {{ if Rating_3.0 != 'empty' and Rating_3.1 != 'empty'}}
        <p>Rating from your group members: <b>{{ Rating_3.0 }} {{ Rating_3.1 }}</b></p>
    {{ elif Rating_3.0 != 'empty' and Rating_3.1 == 'empty' }}
        <p>Rating from a group member: <b>{{ Rating_3.0 }}</b></p>
    {{ elif Rating_3.1 != 'empty' and Rating_3.0 == 'empty'}}
        <p>Rating from a group member: <b>{{ Rating_3.1 }}</b></p>
    {{ else }}
        <p>You haven't received feedback for this pair.</p>
    {{ endif }}

    {{ if Replace_3.0 != '' and R_word_3.0 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_3.0 }}</b> word: <b>{{ R_word_3.0 }}</b></p>
    {{ else }}
    {{ endif}}

    {{ if Replace_3.1 != '' and R_word_3.1 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_3.1 }}</b> word: <b>{{ R_word_3.1 }}</b></p>
    {{ else }}
    {{ endif}}

{{ else }}
{{ endif }}

{{ if player.pair4 != 'empty' }}  
    <b>4. Clue Pair:</b>
    {{ formfield 'Idea7' }}
    <b>+</b>
    {{ formfield 'Idea8' }}
    {{ if Rating_4.0 != 'empty' and Rating_4.1 != 'empty'}}
        <p>Rating from your group members: <b>{{ Rating_4.0 }} {{ Rating_4.1 }}</b></p>
    {{ elif Rating_4.0 != 'empty' and Rating_4.1 == 'empty' }}
        <p>Rating from a group member: <b>{{ Rating_4.0 }}</b></p>
    {{ elif Rating_4.1 != 'empty' and Rating_4.0 == 'empty'}}
        <p>Rating from a group member: <b>{{ Rating_4.1 }}</b></p>
    {{ else }}
        <p>You haven't received feedback for this pair.</p>
    {{ endif }}
    {{ if Replace_4.0 != '' and R_word_4.0 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_4.0 }}</b> word: <b>{{ R_word_4.0 }}</b></p>
    {{ else }}
    {{ endif}}
    {{ if Replace_4.1 != '' and R_word_4.1 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_4.1 }}</b> word: <b>{{ R_word_4.1 }}</b></p>
    {{ else }}
    {{ endif}}
{{ else }}
{{ endif }}

{{ if player.pair5 != 'empty' }} 
    <b>5. Clue Pair:</b>
    {{ formfield 'Idea9' }}
    <b>+</b>
    {{ formfield 'Idea10' }}
    {{ if Rating_5.0 != 'empty' and Rating_5.1 != 'empty'}}
        <p>Rating from your group members: <b>{{ Rating_5.0 }} {{ Rating_5.1 }}</b></p>
    {{ elif Rating_5.0 != 'empty' and Rating_5.1 == 'empty' }}
        <p>Rating from a group member: <b>{{ Rating_5.0 }}</b></p>
    {{ elif Rating_5.1 != 'empty' and Rating_5.0 == 'empty'}}
        <p>Rating from a group member: <b>{{ Rating_5.1 }}</b></p>
    {{ else }}
        <p>You haven't received feedback for this pair.</p>
    {{ endif }}
    {{ if Replace_5.0 != '' and R_word_5.0 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_5.0 }}</b> word: <b>{{ R_word_5.0 }}</b></p>
    {{ else }}
    {{ endif}}
    {{ if Replace_5.1 != '' and R_word_5.1 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_5.1 }}</b> word: <b>{{ R_word_5.1 }}</b></p>
    {{ else }}
    {{ endif}}
{{ else }}
{{ endif }}

{{ if player.pair6 != 'empty' }}
    <b>6. Clue Pair:</b> 
    {{ formfield 'Idea11' }}
    <b>+</b>
    {{ formfield 'Idea12' }}
    {{ if Rating_6.0 != 'empty' and Rating_6.1 != 'empty'}}
        <p>Rating from your group members: <b>{{ Rating_6.0 }} {{ Rating_6.1 }}</b></p>
    {{ elif Rating_6.0 != 'empty' and Rating_6.1 == 'empty' }}
        <p>Rating from a group member: <b>{{ Rating_6.0 }}</b></p>
    {{ elif Rating_6.1 != 'empty' and Rating_6.0 == 'empty'}}
        <p>Rating from a group member: <b>{{ Rating_6.1 }}</b></p>
    {{ else }}
        <p>You haven't received feedback for this pair.</p>
    {{ endif }}
    {{ if Replace_6.0 != '' and R_word_6.0 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_6.0 }}</b> word: <b>{{ R_word_6.0 }}</b></p>
    {{ else }}
    {{ endif}}
    {{ if Replace_6.1 != '' and R_word_6.1 != '' }}
        <p>Replacement suggestion for <b>{{ Replace_6.1 }}</b> word: <b>{{ R_word_6.1 }}</b></p>
    {{ else }}
    {{ endif}}
{{ else }}
{{ endif }}
</br>
<button class= "otree-btn btn btn-info">Next</button>
</br>
</br>
<details>
    <summary>Summary of Rules</summary>
    <br>
    <ul>    
        <li><b><u>Objective:</u></b> One of the players – <i>the Guesser</i> – needs to guess a secret word based on a clue pair provided by the other players.</li>
        <li>If two or more groups provide <b>identical clue pairs</b>, these will be removed before <i>the Guesser</i> sees them, and the round ends.</li>
        <li><b>Invalid clue pairs</b> contain hints that share the same word stem as the secret word, are a translation of the secret word, or are entirely made up.</li>
    </ul>  
</details>

{{ endblock }}
