{{ block title }}
    Voting Result
{{ endblock }}
{{ block content }}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 15) {
                $('.otree-timer').show();
            }
        });
    });
</script>
</br>
<p>
    {{ if duplicates > 0 }} Your group has voted <b>majority-wise</b> for the clue pair <b>{{ vote_group }}</b>. 
    {{ else }} Unfortunately, <b>no majority</b> has been reached for a clue pair. 
    Randomly, the following clue pair has been selected: <b>{{ vote_group }}</b> 
    {{ endif }}
</p>
<p>
    {{ if valid_votes > 0 }} This clue pair is considered <b>valid</b> and will be shown to the Guesser, unless it's identical to a clue pair from another group. 
    {{ else }} This clue pair is <b>invalid</b> and won't be shown to the Guesser.
    {{ endif }}
</p>
</br>
<button class="otree-btn btn btn-info">Next</button>
</br>
</br>
<details>
    <summary>Summary of Rules</summary>
    <br>
    <ul>    
        <li><b><u>Objective:</u></b> One of the players – <i>the Guesser</i> – needs to guess a secret word based on a clue pair provided by the other players.</li>
        <li>If two or more groups provide <b>identical clue pairs</b>, these will be removed before <i>the Guesser</i> sees them, and the round ends.</li>
        <li><b>Invalid clue pairs</b> contain hints that share the same word stem as the secret word, are a translation of the secret word, or are entirely made up.</li>
    </ul>  
</details>

{{ endblock }}
